.background-image {
    background-image: url('~@/assets/loginBridgePic.jpg');
    background-size: auto; /* Cover the entire area */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 90vh; /* Example height - 100% of the viewport height */
    width: 100%; /* Example width - 100% of the container */
}
.new-user-background-image {
    background-image: url('~@/assets/newUserBridgePic.png');
    background-size: contain; /* Cover the entire area */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center;
    height: 80vh; /* Example height - 100% of the viewport height */
}
.row-position {
    padding-top: 600px;
}
.new-user-row-position {
    padding-top: 55vh ;
}

.new-user-button {
    width: 150px !important;
}

